nav{
    border-top:1px solid rgb(220,220,220);
    border-bottom:1px solid rgb(220,220,220);
}
nav a{
    display:inline-block;
    color:black;
    background:white;
    text-decoration: none;
    padding:10px;
    margin:5px;
    border-radius:30px;
    text-align:center;
}